/* CONTAINER BEGINS */
.auth-container{
    background-image: url('./../assets/auth/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* CONTAINER ENDS */


/* MAIN GRID BEGINS */
#auth-grid{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
}
/* MAIN GRID ENDS */


/* LOGO BEGINS */
#auth-row-logo{
    flex: 9;    
}

#auth-row-logo img {
    width: 32%;
    height: auto;
    margin: auto;
}
/* LOGO ENDS */


/* FORM BEGINS*/
#auth-row-form{
    flex: 9;        
}

#auth-row-form-list {    
    width: 100%;
}
/* FORM ENDS*/


/* FORM LOGIN BEGINS*/
.auth-login-container ion-item{
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.auth-login-container ion-item ion-list{
    margin: 0;
}

.auth-login-container .text-input{
    font-size: 1.1rem;
    font-weight: 100;
    color: white;
}

.auth-login-container .text-input:-ms-input-placeholder{
    color: white;
}

.auth-login-container .text-input::-moz-placeholder{
    color: white;
}

.auth-login-container .text-input::-webkit-input-placeholder{
    color: white;
}

#auth-login-forgot-password{
    text-align: right;
    padding: 8px;
}

#auth-login-forgot-password button{
    color: white;
    opacity: 0.6;
    background-color: transparent;
}

.ion-input-item-forgot-password {
    
}

/* FORM LOGIN ENDS*/


/* BUTTONS PART BEGINS */
#auth-row-buttons{
    flex: 6;
}

#auth-row-buttons-grid {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
}

.auth-row-buttons-row{
    flex:1;
}

#auth-row-buttons-text{
    color: white;
    font-weight: 400;
    opacity: 0.6;
    background-color: transparent;
    font-size: 1.2rem;
}

#auth-login-signin-button{
    width: 80%;
    background-color: #eb5858;
    /*height: 90%;*/
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 0px solid #000000;
    font-weight: 100;
    text-transform: none;    
}

#auth-login-facebook-button{
    width: 80%;
    background-color: #475993;
    /*height: 90%;*/
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 0px solid #000000;
    font-weight: 100;
    text-transform: none;
}

#auth-row-buttons-signup{
    padding: 8px;
}

#auth-row-buttons-signup button{
    color: white;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

#auth-row-buttons-signup button #auth-row-buttons-first-text{
    opacity: 0.6;
}

#auth-row-buttons-signup button #auth-row-buttons-second-text{
    opacity: 1;
}

#auth-row-buttons-signup button span{
    opacity: 1;
}
/* BUTTONS PART ENDS */