/* CONTAINER BEGINS */
.auth-container{
    background-image: url('./../assets/img/shared/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* CONTAINER ENDS */


/* MAIN GRID BEGINS */
#auth-grid{
    /*display: flex;*/
    display: table;
    /*flex-direction: column;*/
    padding: 0;
    height: 100%;
}
/* MAIN GRID ENDS */


/* LOGO BEGINS */
#auth-row-logo{
    /*flex: 9;*/
    height: 40%;    
}

#auth-row-logo img {
    width: 32%;
    height: auto;
    margin: auto;
}
/* LOGO ENDS */


/* FORM BEGINS*/
#auth-row-form{
    /*flex: 9;*/
    height: 30%;
}

#auth-row-form-list {    
    width: 100%;
}
/* FORM ENDS*/


/* FORM LOGIN BEGINS*/
.auth-login-container ion-item{
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.auth-login-container ion-item ion-list{
    margin: 0;
}

.auth-login-container .text-input{
    font-size: 1.6rem;
    font-weight: 100;
    color: white;
}

.auth-login-container .text-input:-ms-input-placeholder{
    color: white;
}

.auth-login-container .text-input::-moz-placeholder {
    color: white;
}

.auth-login-container .text-input::-webkit-input-placeholder {
    color: white;
}

#auth-login-forgot-password {
    text-align: right;
}

#auth-login-forgot-password button {
    color: white;
    opacity: 0.6;
    background-color: transparent;
}

.auth-input-item-username{
    background-image: url('./../assets/img/shared/name.png');
}

.auth-input-item-password{
    background-image: url('./../assets/img/shared/password.png');
}

.auth-input-item-password{
    border-bottom: 0 !important;
}

.auth-input-item-forgot-password {
    margin: 0 !important;
    padding: 8px 0 0 0 !important;
}

.auth-input-item-forgot-password .item-inner {
    margin: 0 !important;
    padding: 0 !important;
}

.auth-input-item-forgot-password ion-label {
    margin: 0 !important;
    padding: 0 !important;
}

/* FORM LOGIN ENDS*/


/* BUTTONS PART BEGINS */
#auth-row-buttons {
    /*flex: 7;*/
    height: 30%;
}

#auth-row-buttons-grid {
    /*display: flex;*/
    display: table;
    /*flex-direction: column;*/
    padding: 0;
    height: 100%;
}

.auth-row-buttons-row {
    /*flex:1;*/
    height: 25%;
}

#auth-row-buttons-text{
    color: white;
    font-weight: 400;
    opacity: 0.6;
    background-color: transparent;
    font-size: 1.1rem;
}

#auth-login-signin-button{
    width: 90%;
    background-color: $red-button-color;
    /*height: 90%;*/
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 0px solid #000000;
    font-weight: 100;
    text-transform: none;    
}

#auth-login-facebook-button{
    width: 90%;
    background-color: $blue-button-color;
    /*height: 90%;*/
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 0px solid #000000;
    font-weight: 100;
    text-transform: none;
}

#auth-login-facebook-button i {
    padding-right: 8px;
}

#auth-row-buttons-signup{
    padding: 8px;
}

#auth-row-buttons-signup button{
    color: white;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

#auth-row-buttons-signup button #auth-row-buttons-first-text{
    opacity: 0.6;
}

#auth-row-buttons-signup button #auth-row-buttons-second-text{
    opacity: 1;
}

#auth-row-buttons-signup button span{
    opacity: 1;
}
/* BUTTONS PART ENDS */