.profile-header {
  background-color: white;
}

.profile-header .toolbar .toolbar-background {
  background-color: $main-header-color;
}

.profile-header .toolbar .toolbar-content {
  display: block;
}

.profile-header .toolbar .back-button {
  color: white;
}

.profile-header .toolbar .toolbar-content ion-title {
  display: inline-block;
}

.profile-header .toolbar .toolbar-content ion-title .toolbar-title {
  color: white;
}

.profile-header .toolbar .toolbar-content .ion-nav-button {
  display: inline-block;
  float: right;
}

.profile-header .toolbar .toolbar-content .ion-nav-button img {
  width: 65%
}

.profile-content {
  display: block;
  height: 100%;
}

.profile-content .tabbar {
}

.profile-content .tabbar .tab-button {
  color: white;
  padding: 0;
  margin: 0;
  min-height: 4.2rem;
}

.profile-content .tabbar .tab-button .tab-button-text {
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 200;
}

.profile-content .tabbar .tab-button[aria-selected=true] {
  border-bottom: 0.4rem solid white !important;
  border-right: 0.1rem solid;
  border-color: white;
  /*-webkit-border-image: url('./../assets/inner-pages/active-tab.png') 0 0 1 0 !important;  //Safari 3.1-5 
    -o-border-image: url('./../assets/inner-pages/active-tab.png') 0 0 1 0 !important;  //Opera 11-12.1 
    border-image: url('./../assets/inner-pages/active-tab.png') 0 0 1 0 !important;*/
}


.profile-info {
  display: inline-block;
  height: auto;
  width: 100%;
  background-color: white;
}

.profile-info-avatar img {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border-radius: 50%;
  border: 0.4rem solid;
  border-color: #e6eaf4;
}

.profile-description {
  display: block;
  margin: auto;
}

.profile-description p {
  margin: 0 0 0.4rem 0;
}

.profile-description p:first-child {
  color: #3d2d50;
  font-size: 2.6rem;
  font-weight: 600;
}

.profile-description p:last-child {
  color: #eee;
  font-size: 1.6rem;
  font-weight: 400;
}

.profile-list {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.profile-list .tabbar {
  position: relative;
}

.profile-list .tabs {
  position: relative;
}

.profile-list .tabs ion-tab {
  position: relative;
}

// Tab content has margin-top:42px which is unnecessary
.profile-list .tabs ion-tab .ion-page .content .scroll-content {
  margin-top: 0 !important;
}

.profile-list .tabs ion-tab profile-items {
  position: relative;
}

.profile-list .tabbar a {
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-color: white;
}

.profile-list .tabs .tabbar .tab-button:last-child {
  border-right-style: none !important;
}

.profile-profile-text p span {
  color: white;
  display: block;
  font-size: 1em;
  font-weight: bold;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated, .tabbar {
  opacity: 1;
}
