.forgot-password-header .toolbar-background {
  background-color: $main-header-color;
}

.forgot-password-container{
    background-image: url('./../assets/img/shared/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.forgot-password-container ion-item{
    background-color: transparent;
}

.forgot-password-icon-item .item-inner {
  border-bottom: 0 !important;
}

.forgot-password-icon-item .forgot-password-img {
  width: 80%;
}

.forgot-password-container ion-item ion-list{
  margin: 0;
}

.forgot-password-container .text-input {
  font-size: 1.1em;
  font-weight: 100;
  color: #efefef;
}

.forgot-password-container .text-input:-ms-input-placeholder {
  color: #efefef;
}

.forgot-password-container .text-input::-moz-placeholder {
  color: #efefef;
}

.forgot-password-container .text-input::-webkit-input-placeholder {
  color: #efefef;
}

.forgot-password-input-item-email {
  background-image: url('./../assets/img/register/email.png');
}

.forgot-password-nav-custom-close-button{
    width: 30%;
}

.forgot-password-nav-custom-title {
    font-size: 2rem;
    color: white;
    font-weight: 100;
}
