<ion-header class="forgot-password-header">
    <ion-toolbar>
        <ion-grid class="forgot-password-nav-grid">
            <ion-row>
                <ion-col col-3>
                    <img class="forgot-password-nav-custom-close-button" src="assets/img/shared/Close.png" (click)="close()" />
                </ion-col>
                <ion-col class="forgot-password-nav-custom-title" col-6 text-center>
                    Forgot Password
                </ion-col>
                <ion-col col-3>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content class="forgot-password-container">
    <form [formGroup]="emailForm" (ngSubmit)="sendEmail(emailForm.value, emailForm.valid)" >
        <ion-list>
            <ion-item center text-center class="ion-input-item forgot-password-icon-item">
                <ion-label class="ion-input-item-label" text-center>
                    <img class="forgot-password-img" src="./assets/img/shared/GiftIcon.png" />
                </ion-label>
            </ion-item>

          <ion-item class="ion-input-item forgot-password-input-item-email">
            <ion-label class="ion-input-item-label" floating>
              {{ 'EMAIL' | translate }}
            </ion-label>
            <ion-input class="ion-form-text-input" type="text" formControlName="email"></ion-input>

            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
              <p *ngIf="email.errors.required">Email is required.</p>
              <p *ngIf="email.errors.pattern">Wrong email format</p>

            </div>
          </ion-item>
        </ion-list>
      <div padding>
        <button block ion-button clear full
                class="vertical-align-content default-red-submit-button" color="light"
                center text-center type="submit" [disabled]="!emailForm.valid">
          {{ 'SEND' | translate }}
        </button>
      </div>
    </form>
</ion-content>
