
.home-content{
    top: -1px;
}

/*.home-header{
    background-color: $main-header-color;
}

.home-header-searchbar{
    padding-left: 0.6rem;
    height: 4rem;
}


.home-header-searchbar ion-searchbar .searchbar-input-container .searchbar-input {
    background-color: #3b3c7e;
    border-radius: 0.6rem !important;
}

.home-header-searchbar-title{
    font-size: 2rem;
    font-weight: 500;
    color: white;
    height: 4rem;
    
}

.home-header-searchbar-title span{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0.6rem 0.6rem 0.6rem 1.6rem;
}

.home-header-searchbar ion-searchbar .searchbar-input-container .searchbar-search-icon{
  left: 0.6rem;
  top: 0.6rem;
}

.home-header-searchbar ion-searchbar .searchbar-input-container .searchbar-input{
  color: #ffffff;
  line-height: 1.6rem;
  font-weight: 100;
  height: 3rem;
  padding-left: 3rem;
}

.home-header-searchbar ion-searchbar .searchbar-input-container .searchbar-input::-moz-placeholder {
  padding-top: 0.2rem;
  color: #ffffff;
}

.home-header-searchbar ion-searchbar .searchbar-input-container .searchbar-input:-ms-input-placeholder {
  padding-top: 0.2rem;
  color: #ffffff;
}

.home-header-searchbar ion-searchbar .searchbar-input-container .searchbar-input::-webkit-input-placeholder {
  padding-top: 0.2rem;
  text-indent: 0;
  color: #ffffff;
}

.home-header .toolbar .toolbar-background {
    background-color: $main-header-color;
}*/

.home-content .tabbar{
    /*height: 3.2rem;*/
    background-color: $main-header-tabbar-color;
}

.home-content .tabs {
  top: 56px;
}

.home-content .tabs .tab-button{
    min-height: 3.2rem;
}

.home-content .tabbar .tab-button {
    color: white;
    padding: 0;
    margin: 0;
}

.home-content .tabbar .tab-button .tab-button-text {
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 300;
}

.home-content .tabbar .tab-button[aria-selected=true] {
    border-bottom: 4px solid !important;
    
    /*-webkit-border-image: url('./../assets/img/inner-pages/active-tab.png') 0 0 1 0 !important;  //Safari 3.1-5 
    -o-border-image: url('./../assets/img/inner-pages/active-tab.png') 0 0 1 0 !important;  //Opera 11-12.1 
    border-image: url('./../assets/img/inner-pages/active-tab.png') 0 0 1 0 !important;*/  
}

.home-event-detail-text p span {
    color: white;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated, .tabbar {
    opacity: 1;
}
