<ion-header class="event-detail-header" no-border>
    <ion-navbar no-padding>
        <ion-toolbar>
            <ion-title>WISHLIST</ion-title>
            <button left class="ion-nav-button" (click)="addEvent()">
                <img src="./assets/img/inner-pages/plus-icon.png" />
            </button>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content padding class="event-detail-content">    
    <div class="event-detail-info">
        <ion-row>
            <ion-col col-3>
                <ion-avatar item-start class="event-detail-info-avatar">
                    <img src="{{(eventDetail | async)?.eventOwner.userImagePath}}" />
                </ion-avatar>
            </ion-col>
            <ion-col class="event-detail-description" col-7>
                <p>{{(eventDetail | async)?.eventOwner.userName}}</p>
                <p>{{(eventDetail | async)?.eventName}}</p>
            </ion-col>
            <ion-col class="event-detail-fav" col-2>                
                <img  *ngIf="(isFavorite | async)" (click)="addToFavorites(idControl.value)" src="./assets/img/inner-pages/event-detail/favori/favori-active.png" />
                <img  *ngIf="!(isFavorite | async)" (click)="addToFavorites(idControl.value)" src="./assets/img/inner-pages/event-detail/favori/favori-inactive.png" />
            </ion-col>            
        </ion-row>        
    </div>
    <div #eventTabs *ngIf="(eventDetail | async)?.id && (eventDetail | async)?.id != 0" class="event-detail-list">
        <ion-tabs no-margin no-padding selectedIndex="1">
            <ion-tab [root]="EventDetailItems1" (ionSelect)="eventTabsChanged(1)" [rootParams]="{itemTypeId:1, eventId: (eventDetail | async)?.id}" tabTitle="{{'ALL' | translate}}"></ion-tab>
            <ion-tab [root]="EventDetailItems2" (ionSelect)="eventTabsChanged(2)" [rootParams]="{itemTypeId:2, eventId: (eventDetail | async)?.id}" tabTitle="{{'BOUGHT' | translate}}"></ion-tab>
            <ion-tab [root]="EventDetailItems3" (ionSelect)="eventTabsChanged(3)" [rootParams]="{itemTypeId:3, eventId: (eventDetail | async)?.id}" tabTitle="{{'LEFT' | translate}}"></ion-tab>
        </ion-tabs>
    </div>
</ion-content>
