<ion-content scroll="false">
    <ion-grid text-center no-padding class="event-tab-grid">
        <!--<ion-row (click)="eventClick(userEvent.id)" class="event-tab-row" *ngFor="let userEvent of eventList | async" [ngStyle]="{'background-image': ' url(assets/inner-pages/bg_overlay.png), url(' + userEvent.eventImagePath + ')', 'background-repeat': 'no-repeat, no-repeat', 'background-size': 'cover, cover'}" text-center bottom>-->
        <ion-row (click)="eventClick(userEvent.id)" class="event-tab-row" *ngFor="let userEvent of eventList | async" text-center bottom>
            <ion-col class="event-tab-col-profile-pic" col-3>
                <ion-avatar item-start>
                    <img src="{{userEvent.eventOwner.userImagePath}}" />
                </ion-avatar>
            </ion-col>
            <!--<ion-col class="home-list-col-detail" [ngStyle]="{'background-image': 'url(' + userEvent.eventImagePath + ')'}">-->
            <ion-col class="event-tab-col-detail" col-6>
                <ion-grid text-center no-padding>
                    <ion-row>
                        <ion-col col-12>
                            <div class="event-tab-col-detail-text" text-left>
                                <span class="event-tab-col-detail-text-owner">
                                    {{userEvent.eventOwner.userName}}
                                </span>
                                <!--<span class="event-tab-col-detail-bought">
                                    <i class="fa fa-chevron-up event-tab-event-bought" aria-hidden="true"></i>
                                    {{userEvent.eventBoughtItemAmount}}
                                </span>
                                <span class="event-tab-col-detail-left">
                                    <i class="fa fa-chevron-down event-tab-event-left" aria-hidden="true"></i>
                                    {{userEvent.eventLeftItemAmount}}
                                </span>-->
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <div text-wrap class="event-tab-col-detail-text" text-left>                                
                                <span class="event-tab-col-detail-text-name">
                                    {{userEvent.eventName}}
                                </span>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <div text-wrap class="event-tab-col-detail-text" text-left>
                                <span text-wrap class="event-tab-col-detail-text-date" text-left>
                                    {{userEvent.eventDate | date: 'dd.MM.yyyy'}}
                                </span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                
            </ion-col>
            <ion-col col-3 class="event-tab-col-count">
                <div class="event-tab-col-count-container">
                    <div class="event-tab-col-count-left">
                        <div class="event-tab-col-count-left-wrapper">
                            <span class="event-tab-col-count-left-text">
                                {{userEvent.eventLeftItemAmount}}
                            </span>
                            <span class="event-tab-col-count-img-wrapper">
                                <img src="./assets/img/inner-pages/left-gifts.png" />
                            </span>
                        </div>
                    </div>
                    <div class="event-tab-col-count-right">
                        <div class="event-tab-col-count-right-container">
                            <img src="./assets/img/inner-pages/gift_box.png" />
                            <div class="event-tab-col-count-right-text">
                                <span>
                                    {{userEvent.eventBoughtItemAmount}}
                                </span>
                            </div>
                        </div>                        
                    </div>
                </div>                
            </ion-col>
            
        </ion-row>
    </ion-grid>
</ion-content>
